In [1]:
pip install apyori

Requirement already satisfied: apyori in c:\programdata\anaconda3\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

# Import Libraries

In [2]:
import numpy as np
import pandas as pd
from apyori import apriori
import time

# Load the Dataset

In [3]:
store_data = pd.read_csv('kosarak.csv', header = None)

In [4]:
store_data

,0,1,2,3,4,5,6,7,8,9,...,2488,2489,2490,2491,2492,2493,2494,2495,2496,2497
0,1,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,5.0,6.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170622,3001,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170623,10699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170624,11,270.0,218.0,6.0,55.0,253.0,11508.0,153.0,154.0,762.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170625,1057,3315.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170626,11,6.0,3.0,2057.0,64.0,2234.0,1614.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
store_data.fillna(0,inplace=True)

In [6]:
store_data.head()
store_data=store_data.astype(int)
store_data

,0,1,2,3,4,5,6,7,8,9,...,2488,2489,2490,2491,2492,2493,2494,2495,2496,2497
0,1,2,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,5,6,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170622,3001,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
170623,10699,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
170624,11,270,218,6,55,253,11508,153,154,762,...,0,0,0,0,0,0,0,0,0,0
170625,1057,3315,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
170626,11,6,3,2057,64,2234,1614,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
rowlength = len(store_data)
no_features = len(store_data.values[0])

### Remove all 0 value which converted from nan

In [ ]:
records = []
for i in range(0, rowlength):
    records.append([int(store_data.values[i,j]) for j in range(0, no_features)if int(store_data.values[i,j]) != 0])

In [ ]:
threshold = 1
total_time = []
threshold_val = []

for i in range(0,8):
  start = time.time()
  rules = apriori(records,min_support=threshold)
  output = list(rules)
  end = time.time()
  total_time.append(end-start)
  threshold_val.append(threshold)
  threshold = threshold - 0.1
  #print(output)

In [ ]:
from matplotlib import pyplot as plt

plt.plot(total_time, threshold_val, label='kosarak dataset')
plt.xlabel("Time (s)")
plt.ylabel("Threshold")