In [1]:
pip install pyfpgrowth

Requirement already satisfied: pyfpgrowth in c:\programdata\anaconda3\lib\site-packages (1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install mlxtend --upgrade

Requirement already satisfied: mlxtend in c:\programdata\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.3.4)
Requirement already satisfied: pandas>=0.24.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.2.4)
Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.6.2)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.20.1)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (0.24.1)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (52.0.0.post20210125)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
%pip install numpy

Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (1.20.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np
import pyfpgrowth
import os

In [5]:
import pandas as pd
import numpy as np
store_dataset= pd.read_csv('kosarakk.csv', header = None)
store_dataset

,0,1,2,3,4,5,6,7,8,9,...,786,787,788,789,790,791,792,793,794,795
0,1,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,5.0,6.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50066,2,7481.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50067,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50068,3,73.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50069,2021,4805.0,5104.0,340.0,11.0,4018.0,218.0,6.0,6636.0,89.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50070,11,987.0,1.0,6.0,90.0,777.0,3453.0,3.0,7.0,321.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
store_dataset = store_dataset.fillna(0)

In [7]:
store_dataset.astype(int)

,0,1,2,3,4,5,6,7,8,9,...,786,787,788,789,790,791,792,793,794,795
0,1,2,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,5,6,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50066,2,7481,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50067,11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50068,3,73,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50069,2021,4805,5104,340,11,4018,218,6,6636,89,...,0,0,0,0,0,0,0,0,0,0
50070,11,987,1,6,90,777,3453,3,7,321,...,0,0,0,0,0,0,0,0,0,0

In [8]:
store_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50071 entries, 0 to 50070
Columns: 796 entries, 0 to 795
dtypes: float64(795), int64(1)
memory usage: 304.1 MB

In [9]:
transactions= []
for sublist in store_dataset.values.tolist():
    clean_sublist=[item for item in sublist if item is not np.nan]
    transactions.append(clean_sublist)
print(transactions)
for iteration, item in enumerate(transactions):
  iteration
print(iteration)
#dataset
#remove_nan
#type(dataset)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [10]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,20938.0,20939.0,20940.0,20941.0,20942.0,20943.0,20944.0,20945.0,20946.0,20947.0
0,True,True,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,True,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50066,True,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
50067,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
50068,True,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
50069,True,False,False,True,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
50070,True,True,False,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [11]:
df[0]=bool(False)
#if code finds any 0 then converted them false
df

,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,20938.0,20939.0,20940.0,20941.0,20942.0,20943.0,20944.0,20945.0,20946.0,20947.0
0,False,True,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50066,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
50067,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
50068,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
50069,False,False,False,True,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
50070,False,True,False,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
import time
from mlxtend.frequent_patterns import fpgrowth

threshold = 1
tototal_time = []
threshold_val = []

for i in range(0,7):
  start = time.time()
  rules=fpgrowth(df, min_support=threshold, use_colnames=True)
  end = time.time()
  total_time.append(end-start)
  threshold_val.append(threshold)
  threshold = threshold - 0.1
  print(rules)

NameError: name 'total_time' is not defined

In [ ]:
from matplotlib import pyplot as plt

plt.plot(total_time, threshold_val, label='chess dataset')
plt.xlabel("Time (s)")
plt.ylabel("Threshold")